* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  background-color: rgb(240, 238, 238);
}
.v2053_39 {
  width: 100%;
  height: 1962px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v2053_42 {
  width: 288px;
  height: 62px;
  background: #008037;
  padding: 16px 32px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 405px;
  left: 88px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v2053_43 {
  width: 195px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 47px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2053_55 {
  width: 288px;
  height: 62px;
  background: rgba(242,131,2,1);
  padding: 16px 32px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 405px;
  left: 416px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v2053_56 {
  width: 106px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 91px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2053_44 {
  width: 624px;
  height: 48px;
  background: url("../images/v2053_44.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 243px;
  left: 104px;
  overflow: hidden;
}
.v2053_45 {
  width: 624px;
  color: #008037;
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v2053_46 {
  width: 100%;
  height: 164px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2053_47 {
  width: 312px;
  color: #008037;
  position: absolute;
  top: 42px;
  left: 83px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v2053_48 {
  width: 624px;
  color: #008037;
  position: absolute;
  top: 164px;
  left: 88px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v2053_57 {
  width: 288px;
  height: 62px;
  background: #008037;
  padding: 16px 32px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 405px;
  left: 744px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v2053_58 {
  width: 237px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 25px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2053_61 {
  width: 288px;
  height: 62px;
  background: #008037;
  padding: 16px 32px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 405px;
  left: 1072px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v2053_62 {
  width: 87px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 100px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2053_63 {
  width: 288px;
  height: 62px;
  background: #008037;
  padding: 16px 32px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 498px;
  left: 88px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v2053_64 {
  width: 224px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 32px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2053_65 {
  width: 288px;
  height: 62px;
  background: #008037;
  padding: 16px 32px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 498px;
  left: 416px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v2053_66 {
  width: 60px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 114px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2053_71 {
  width: 288px;
  height: 62px;
  background: #008037;
  padding: 16px 32px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 498px;
  left: 744px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v2053_72 {
  width: 150px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 69px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2053_73 {
  width: 288px;
  height: 62px;
  background: #008037;
  padding: 16px 32px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 498px;
  left: 1072px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v2053_74 {
  width: 41px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 123px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2053_102 {
  width: 288px;
  height: 62px;
  background: #008037;
  padding: 16px 32px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 498px;
  left: 416px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v2053_103 {
  width: 60px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 114px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2053_104 {
  width: 288px;
  height: 62px;
  background: rgba(242,131,2,1);
  padding: 16px 32px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 742px;
  left: 88px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v2053_105 {
  width: 76px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 106px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2053_108 {
  width: 288px;
  height: 62px;
  background: #008037;
  padding: 16px 32px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 742px;
  left: 744px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v2053_109 {
  width: 168px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 60px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2053_106 {
  width: 288px;
  height: 62px;
  background: #008037;
  padding: 16px 32px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 742px;
  left: 416px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v2053_107 {
  width: 70px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 109px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2053_110 {
  width: 288px;
  height: 62px;
  background: #008037;
  padding: 16px 32px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 742px;
  left: 1072px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v2053_111 {
  width: 58px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 115px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2053_112 {
  width: 288px;
  height: 62px;
  background: #008037;
  padding: 16px 32px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 835px;
  left: 88px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v2053_113 {
  width: 76px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 106px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2053_114 {
  width: 288px;
  height: 62px;
  background: #008037;
  padding: 16px 32px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 835px;
  left: 416px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v2053_115 {
  width: 66px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 111px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2053_116 {
  width: 288px;
  height: 62px;
  background: #008037;
  padding: 16px 32px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 835px;
  left: 744px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v2053_117 {
  width: 77px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 105px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2053_118 {
  width: 288px;
  height: 62px;
  background: #008037;
  padding: 16px 32px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 835px;
  left: 1072px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v2053_119 {
  width: 75px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 106px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2054_120 {
  width: 288px;
  height: 62px;
  background: #008037;
  padding: 16px 32px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 928px;
  left: 88px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v2054_121 {
  width: 62px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 113px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2054_122 {
  width: 288px;
  height: 62px;
  background: #008037;
  padding: 16px 32px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 928px;
  left: 416px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v2054_123 {
  width: 78px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 105px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2054_124 {
  width: 624px;
  height: 48px;
  background: url("../images/v2054_124.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 627px;
  left: 88px;
  overflow: hidden;
}
.v2054_125 {
  width: 624px;
  color: #008037;
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v2054_126 {
  width: 624px;
  height: 48px;
  background: url("../images/v2054_126.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 1057px;
  left: 88px;
  overflow: hidden;
}
.v2054_127 {
  width: 624px;
  color: #008037;
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v2054_128 {
  width: 388px;
  height: 62px;
  background: #008037;
  padding: 16px 32px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 1229px;
  left: 88px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v2054_129 {
  width: 74px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 157px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2054_140 {
  width: 388px;
  height: 62px;
  background: rgba(242,131,2,1);
  padding: 16px 32px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 1229px;
  left: 534px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v2054_141 {
  width: 104px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 142px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2054_142 {
  width: 380px;
  height: 62px;
  background: #008037;
  padding: 16px 32px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 1229px;
  left: 980px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v2054_143 {
  width: 87px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 146px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2054_144 {
  width: 624px;
  height: 80px;
  background: rgba(242,131,2,1);
  padding: 16px 32px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 1574px;
  left: 88px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v2054_145 {
  width: 210px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 207px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
