body {
  font-family: 'Inter', sans-serif;
  background-color: rgb(240, 238, 238);
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container img {
  height: 80px;
  margin-right: 10px;
}

.brand-name {
  font-size: 48px;
  color: #008037;
  font-weight: 500;
  text-decoration: none;
}

.brand-name:hover {
  text-decoration: none;
  color: #008037;
}

.header-text {
  color: #3F9142;
  font-weight: bold;
}

.subheader-text {
  color: #3F9142;
}

.subject-buttons .btn {
  padding: 16px 32px;
  border-radius: 8px;
}

.btn-custom {
  background-color: #3F9142;
  color: white;
  border: none;
}

.btn-custom:hover {
  background-color: #2e6c31;
}

.btn-custom-orange {
  background-color: #F7931E;
  color: white;
  border: none;
}

.btn-custom-orange:hover {
  background-color: #d9791a;
}

.btn-lg {
  padding: 16px 32px;
  font-size: 24px;
}
