/* Custom CSS */
body {
  background-color: rgb(240, 238, 238);
}

.container {
  padding: 20px;
}

.logo {
  font-weight: medium;
  font-size: 48px;
  color: #008037; /* Green color */
}

.logo:hover {
  text-decoration: none;
  color: #008037;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  border-radius: 4px;
}

.btn-primary {
  background-color: #008037; /* Green color */
  border: none;
  border-radius: 4px;
}

.btn-primary:hover {
  background-color: #005f27; /* Darker green color */
}

.teacher-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

#SubmitButton {
  width: 100%;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container img {
  height: 80px; /* Adjust the height as needed */
  margin-right: 10px; /* Adjust the spacing between the logo and text */
}
