.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container img {
  height: 80px; /* Adjust the height as needed */
  margin-right: 10px; /* Adjust the spacing between the logo and text */
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  margin: 0;
  background-color: rgb(240, 238, 238);
}

.container {
  max-width: 80%;
  opacity: 1;
  padding: 20px;
  margin: 20px auto;
}

.text-center {
  text-align: center;
}

.row {
  margin-bottom: 20px;
}

.col-6 {
  width: 50%;
}

.col-12 {
  width: 100%;
}

.img-fluid {
  border-radius: 8px;
  width: 70%;
}

.v2001_1444,
.v2001_1450,
.v2001_1456,
.v2001_1467 {
  color: #008037;
}

.v2001_1444,
.v2001_1450 {
  font-weight: bold;
  font-size: 48px;
}

.v2001_1456 {
  font-weight: extra-bold;
  font-size: 64px;
}

.v2001_1467 {
  font-weight: medium;
  font-size: 48px;
}

.v2001_1467:hover {
  text-decoration: none;
  color: #008037
}

.v2001_1447,
.v2001_1453 {
  font-weight: medium;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
}

.btn {
  background: #008037;
  border: none;
}

.btn:hover {
  background: #005f27;
}

.v2001_1455,
.v2001_1449 {
  margin: 20px 0;
}

.section-paragraph {
  font-size: 16px;
  color: #000; /* Set text color to black */
}